 <div class="p-t-25 p-b-5 p-r-10" fxLayout="row"
        fxLayoutGap="30px" fxLayoutGap.xs="5px">


               <div class="offer-cards" fxFlex="33.33"  fxLayout="column" >

          <div class="offer-img-wrap" fxLayout="column" fxLayoutAlign="center center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png">
          </div>
          <div fxLayout="row" fxLayoutAlign="none" fxFlex="1 1 auto">
          <div class="offer-text" fxLayout="column">
            <div class="m-b-15 text-14">
             Lorem Ipsum is simply dummy text of the printing and typesetting industry. L a galley of type and scrambled it to make a type specimen book.
            </div>
            <div  fxLayout="row" fxLayoutAlign="end end" fxFlex="1 1 auto">
             Condition Apply
            </div>
          </div>

        </div>
         </div>




         
               <div class="offer-cards" fxFlex="33.33"  fxLayout="column" >

          <div class="offer-img-wrap" fxLayout="column" fxLayoutAlign="center center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png">
          </div>
          <div fxLayout="row" fxLayoutAlign="none" fxFlex="1 1 auto">
          <div class="offer-text" fxLayout="column">
            <div class="m-b-15 text-14">
             Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
            </div>
            <div  fxLayout="row" fxLayoutAlign="end end" fxFlex="1 1 auto">
             Condition Apply
            </div>
          </div>

        </div>
         </div>






               <div class="offer-cards" fxFlex="33.33"  fxLayout="column" >

          <div class="offer-img-wrap" fxLayout="column" fxLayoutAlign="center center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png">
          </div>
          <div fxLayout="row" fxLayoutAlign="none" fxFlex="1 1 auto">
          <div class="offer-text" fxLayout="column">
            <div class="m-b-15 text-14">
             Lorem Ipsum is simply dummy text of the printing and typesetting industry.  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
            <div  class="martop-20" fxLayout="row" fxLayoutAlign="end end" fxFlex="1 1 auto">
             Condition Apply
            </div>
          </div>

        </div>
         </div>


          </div>